* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  background: #75bae9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
}

.form {
  margin:  25px auto;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(0, 0, 0.1);
  background-color: #c4e2e4;
}

.tabel {
  width: 100%;
  max-width: 1500px;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 10px;
  table-layout: auto;
  word-wrap: break-word;
}

.tabel th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  white-space: normal;
}

.tabel th {
  background-color: rgb(196, 226, 228);;
}
